[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
	branch = master-next
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = master-next
[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake.git
	branch = master-next
[submodule "meta-formuler"]
	path = meta-formuler
	url = https://github.com/formuler/meta-formuler.git
[submodule "meta-gigablue"]
	path = meta-gigablue
	url = https://github.com/GigaBlue-STB/meta-gigablue
[submodule "meta-edision"]
	path = meta-edision
	url = https://github.com/edision-open/meta-edision.git
